*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}


.nav {
    background-color: #192eec;
    display:flex;
   height: 5rem;
   list-style: none;
   
   
}
#numberofblog{
    color: chartreuse;
    margin: auto;
    
}
.nav-item{
    margin: auto;
    
}
.nav h2{
    color: cornsilk;
    margin: auto;
}
.blog p{
    
    margin-top: 4px;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 30px;
    border-radius: 20%;
}
.blog h3{
    margin: auto;
    margin-top: 4px;
    width: 40%;
   
    padding: 10px;
}

#footer{
    margin-top: 1rem;

}
.nav p{
    color: crimson;
    margin: auto;
    margin-top: 4px;
    width: 20%;
   
    padding: 10px;
}
header {
    font-size: larger;
    color: brown;
}
.delete{
    background-color: #008CBA;
    padding: 14px 40px;
   font-size: medium;
   margin-left: 25%;
   margin-top: 2rem;
 }
 .post-title{
     border: solid;
     border-color: chartreuse;
     margin-right: 70%;
     margin-left: 10%;
     


 }
 